@charset "UTF-8";

table#wakusen{
	margin-left:auto;
	margin-right:auto;
	border:double;
	width:700px;
}
table#center{
	text-align:center;
}
table#wakusen tr{
	border:double;
	background-color: #EEFFFF;
}
table#wakusen tr th{
	width:60px;
	border:double;
}
table#wakusen tr td{
	border:double;
	width:25px;
}
body{
	text-align:center;
	background-color: #EEFFFF;
}
#commandv{
	display:inline;
}
#button{
	padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
    padding-left: 150px;
    border: double;
    font-weight: 700;
    font-size: 200%;
    background-color: #336633;
    color: yellow;
}
#button2{
	padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
    border: double;
    font-weight: 700;
    font-size: 200%;
    background-color: black;
  	color: yellow;
}
.box{
	padding:50px;
}